<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">坂を楽しむ</div>
  </ons-toolbar>
  <div>
    <ul>
      <section>
        <li>
          <ons-button ng-click="myNavi.pushPage('views/RouteByTheme.html');">
            景色を楽しむ
          </ons-button>
        </li>
      </section>
      <section>
        <li>
          <ons-button ng-click="myNavi.pushPage('views/RouteByTheme.html');">
            景色を楽しむ
          </ons-button>
        </li>
      </section>
      <section>
        <li>
          <ons-button ng-click="myNavi.pushPage('views/RouteByTheme.html');">
            景色を楽しむ
          </ons-button>
        </li>
      </section>
      <section>
        <li>
          <ons-button ng-click="myNavi.pushPage('views/RouteByTheme.html');">
            景色を楽しむ
          </ons-button>
        </li>
      </section>
      <section>
        <li>
          <ons-button ng-click="myNavi.pushPage('views/RouteByTheme.html');">
            景色を楽しむ
          </ons-button>
        </li>
      </section>
    </ul>
  </div>
</ons-page>