<ons-page ng-controller="EnjoySlopeCtrl"></ng-cont>
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">坂を楽しむ</div>
  </ons-toolbar>
  <div style="text-align:center">   
      <section>
        <ons-list>
           <ons-list-item modifier="chevron" ng-click="myNavi.pushPage('views/RouteByTheme.html');"><img src="img/icon/keshiki.png" height="48px" width="48px" style="padding-right:10px;" />景色を楽しむ</ons-list-item>
           <ons-list-item modifier="chevron" ng-click="myNavi.pushPage('views/RouteByTheme.html');"><img src="img/icon/fuyu.png" height="48px" width="48px" style="padding-right:10px;" />季節を楽しむ</ons-list-item>
           <ons-list-item modifier="chevron" ng-click="myNavi.pushPage('views/RouteByTheme.html');"><img src="img/icon/rekishi.png" height="48px" width="48px" style="padding-right:10px;" />歴史を楽しむ</ons-list-item>
           <ons-list-item modifier="chevron" ng-click="myNavi.pushPage('views/RouteByTheme.html');"><img src="img/icon/chikei.png" height="48px" width="48px" style="padding-right:10px;" />地形を楽しむ</ons-list-item>
           <ons-list-item modifier="chevron" ng-click="myNavi.pushPage('views/RouteByTheme.html');"><img src="img/icon/mezurashii.png" height="48px" width="48px" style="padding-right:10px;" />めずらしい坂</ons-list-item>
        </ons-list>       
      </section>
  </div>
</ons-page>