<ons-page ng-controller="ExerciseCtrl">
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">運動する</div>
  </ons-toolbar>

  <section>
    <ons-list>
    　 <ons-list-header>筋肉疲労度を選んでください</ons-list-header>
       <ons-list-item modifier="chevron" ng-click="myNavi.pushPage('views/SlopeByFatigue.html');">
         <span style="width:80px;">1パン坂</span>
         <span><img src="img/icon/pan.png" height="48px" width="48px" /></span>  
         <span><img src="img/icon/pan_gray.png" height="48px" width="48px" /></span>
         <span><img src="img/icon/pan_gray.png" height="48px" width="48px" /></span>
         <span><img src="img/icon/pan_gray.png" height="48px" width="48px" /></span>
         <span><img src="img/icon/pan_gray.png" height="48px" width="48px" /></span>
       </ons-list-item>
       <ons-list-item modifier="chevron" ng-click="myNavi.pushPage('views/SlopeByFatigue.html');">
         <span style="width:80px;">2パン坂</span>
         <span><img src="img/icon/pan.png" height="48px" width="48px" /></span>  
         <span><img src="img/icon/pan.png" height="48px" width="48px" /></span>
         <span><img src="img/icon/pan_gray.png" height="48px" width="48px" /></span>
         <span><img src="img/icon/pan_gray.png" height="48px" width="48px" /></span>
         <span><img src="img/icon/pan_gray.png" height="48px" width="48px" /></span>
       </ons-list-item>
       <ons-list-item modifier="chevron" ng-click="myNavi.pushPage('views/SlopeByFatigue.html');">
         <span style="width:80px;">3パン坂</span>
         <span><img src="img/icon/pan.png" height="48px" width="48px" /></span>  
         <span><img src="img/icon/pan.png" height="48px" width="48px" /></span>
         <span><img src="img/icon/pan.png" height="48px" width="48px" /></span>
         <span><img src="img/icon/pan_gray.png" height="48px" width="48px" /></span>
         <span><img src="img/icon/pan_gray.png" height="48px" width="48px" /></span>
       </ons-list-item>
       <ons-list-item modifier="chevron" ng-click="myNavi.pushPage('views/SlopeByFatigue.html');">
         <span style="width:80px;">4パン坂</span>
         <span><img src="img/icon/pan.png" height="48px" width="48px" /></span>  
         <span><img src="img/icon/pan.png" height="48px" width="48px" /></span>
         <span><img src="img/icon/pan.png" height="48px" width="48px" /></span>
         <span><img src="img/icon/pan.png" height="48px" width="48px" /></span>
         <span><img src="img/icon/pan_gray.png" height="48px" width="48px" /></span>
       </ons-list-item>
       <ons-list-item modifier="chevron" ng-click="myNavi.pushPage('views/SlopeByFatigue.html');">
         <span style="width:80px;">5パン坂</span>
         <span><img src="img/icon/pan.png" height="48px" width="48px" /></span>  
         <span><img src="img/icon/pan.png" height="48px" width="48px" /></span>
         <span><img src="img/icon/pan.png" height="48px" width="48px" /></span>
         <span><img src="img/icon/pan.png" height="48px" width="48px" /></span>
         <span><img src="img/icon/pan.png" height="48px" width="48px" /></span>
       </ons-list-item>
    </ons-list>       
  </section>
</ons-page>