<ons-page ng-controller="ExerciseCtrl as exc" ons-init="exc.init($event)">
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">運動する</div>
  </ons-toolbar>
  <div style="text-align:center">   
      <section>
        <ons-list>       
            <ons-list-header>筋肉疲労度を選んでください</ons-list-header>
            <div ng-repeat="i in range(5)">
                <ons-list-item modifier="chevron" ng-click="linkClick(i);">
                <span style="width:80px;">{{i}}パン坂</span>
                <span ng-repeat="pan in getPanIcon(i) track by $index">
                    <img height="48px" width="48px" src="img/icon/{{pan}}.png" />
                </span>
                </ons-list-item>
            </div>
        </ons-list>       
      </section>
  </div>
</ons-page>