<ons-page>
  <ons-toolbar>
    <div class="center">メインメニュー</div>
    <div class="right">
      <ons-button onclick="myNavi.replacePage('views/Top.html');" style="margin-top:-20px;margin-right:15px;"><ons-icon icon="fa-reply-all"></ons-icon></ons-button>
    </div>
  </ons-toolbar>
  <div style="text-align:center" ng-controller="MainMenuCtrl">   
      <section>
        <ons-list ng-repeat="m in MainMenuList">
           <ons-list-item modifier="chevron" ng-click="menuClick(m);"><img src="img/icon/kanko.png" height="48px" width="48px" style="padding-right:10px;" />{{m.text}}</ons-list-item>
        </ons-list>       
      </section>
  </div>
  <ons-bottom-toolbar style="text-align:center">
     <ons-button modifier="light" ng-click="" style="border:0" disabled="true">坂を登録 </ons-button>
     <ons-button modifier="light" ng-click="myNavi.pushPage('views/MyLibrary.html')" style="border:0">Myライブラリ</ons-button>
  </ons-bottom-toolbar>
</ons-page>

