<ons-page ng-controller="RouteByThemeCtrl">
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">テーマ別のルートを表示</div>
    <div class="right">
      <ons-button onclick="CMN.Navi.BackMainMenu();">Menu</ons-button>
    </div>
  </ons-toolbar>
  <div>
    <p style="margin-left:10px;margin-top:10px;">景色を楽しむ</p>
    <div id="map_canvas" style="width:85%;height:250px;margin-left:auto;margin-right:auto;margin-bottom:20px;"></div>
    <ul>
      <li>
        <a ng-click="myNavi.pushPage('views/RouteDetails.html');">
          ➀大谷高校周辺：3パン
        </a>
      </li>
      <li>
        <a ng-click="myNavi.pushPage('views/RouteDetails.html');">
          ➁白鳥大橋を眺める：4パン
        </a>
      </li>
      <li>
        <a ng-click="myNavi.pushPage('views/RouteDetails.html');">
          ➂塩見展望台：1パン
        </a>
      </li>
    </ul>
  </div>
</ons-page>