<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">テーマ別のルートを表示</div>
    <div class="right">
      <ons-button onclick="CMN.Navi.BackMainMenu();">Menu</ons-button>
    </div>
  </ons-toolbar>
  <div>
    <div>◆景色を楽しむ</div>
    <div class="GMap">Googleマップ出す</div>
    <ul>
      <li>
        <a ng-click="myNavi.pushPage('views/RouteDetails.html');">
          ○○周辺：3パン
        </a>
      </li>
      <li>
        <a ng-click="myNavi.pushPage('views/RouteDetails.html');">
          ○○周辺：3パン
        </a>
      </li>
      <li>
        <a ng-click="myNavi.pushPage('views/RouteDetails.html');">
          ○○周辺：3パン
        </a>
      </li>
    </ul>
  </div>
</ons-page>