<ons-page ng-controller="RouteDetailsCtrl">
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">ルート詳細</div>
    <div class="right">
      <ons-button onclick="CMN.Navi.BackMainMenu();" style="margin-top:-20px;margin-right:15px;"><ons-icon icon="fa-reply-all"></ons-icon></ons-button>
    </div>
  </ons-toolbar>
  <div>
    <p style="margin-left:10px;margin-top:10px;">白鳥大橋を眺める</p>
    <div id="map_canvas1" style="width:85%;height:250px;margin-left:auto;margin-right:auto;margin-bottom:20px;"></div>
    
    <div style="margin-left:20px;margin-bottom:10px;">
      <span>所要時間：3時間</span><br />
      <span>消費カロリー：150Kcal</span><br />
      <span>Total筋肉疲労度：MAX</span><br />     
    </div>    
    
    <section>
        <ons-list>
          <ons-list-header>坂を選んで下さい</ons-list-header>
          <ons-list-item modifier="chevron" ng-click="myNavi.pushPage('views/SlopeDetails.html');">
             <img src="img/icon/mark1.png" height="48px" width="48px" style="padding-right:10px;" />
             <span style="width:115px;">日本一の坂</span>             
             <img src="img/icon/pan.png" width="16px" height="16px">
             <img src="img/icon/pan_gray.png" width="16px" height="16px">
             <img src="img/icon/pan_gray.png" width="16px" height="16px">
             <img src="img/icon/pan_gray.png" width="16px" height="16px">
             <img src="img/icon/pan_gray.png" width="16px" height="16px">        
                                  
             <li style="margin:0;padding:0;margin-left:170px;">
                <ul style="margin:0;padding:0;">
                  <img src="img/icon/keshiki.png" width="24px" height="24px">                
                </ul>
             </li>
          </ons-list-item>
          
           <ons-list-item modifier="chevron" ng-click="myNavi.pushPage('views/SlopeDetails.html');">
             <img src="img/icon/mark2.png" height="48px" width="48px" style="padding-right:10px;" />
             <span style="width:115px;">牛太郎坂</span>             
             <img src="img/icon/pan.png" width="16px" height="16px">
             <img src="img/icon/pan.png" width="16px" height="16px">
             <img src="img/icon/pan_gray.png" width="16px" height="16px">
             <img src="img/icon/pan_gray.png" width="16px" height="16px">
             <img src="img/icon/pan_gray.png" width="16px" height="16px">        
                                  
             <li style="margin:0;padding:0;margin-left:170px;">
                <ul style="margin:0;padding:0;">
                  <img src="img/icon/keshiki.png" width="24px" height="24px">
                  <img src="img/icon/fuyu.png" width="24px" height="24px">                
                </ul>
             </li>
          </ons-list-item>
          
           <ons-list-item modifier="chevron" ng-click="myNavi.pushPage('views/SlopeDetails.html');">
             <img src="img/icon/mark3.png" height="48px" width="48px" style="padding-right:10px;" />
             <span style="width:115px;">仏坂</span>             
             <img src="img/icon/pan.png" width="16px" height="16px">
             <img src="img/icon/pan.png" width="16px" height="16px">
             <img src="img/icon/pan.png" width="16px" height="16px">
             <img src="img/icon/pan_gray.png" width="16px" height="16px">
             <img src="img/icon/pan_gray.png" width="16px" height="16px">        
                                  
             <li style="margin:0;padding:0;margin-left:170px;">
                <ul style="margin:0;padding:0;">
                  <img src="img/icon/keshiki.png" width="24px" height="24px">
                  <img src="img/icon/fuyu.png" width="24px" height="24px">
                  <img src="img/icon/rekishi.png" width="24px" height="24px">                 
                </ul>
             </li>
          </ons-list-item>
          
          <ons-list-item modifier="chevron" ng-click="myNavi.pushPage('views/SlopeDetails.html');">
             <img src="img/icon/mark4.png" height="48px" width="48px" style="padding-right:10px;" />
             <span style="width:115px;">幕西の坂</span>             
             <img src="img/icon/pan.png" width="16px" height="16px">
             <img src="img/icon/pan.png" width="16px" height="16px">
             <img src="img/icon/pan.png" width="16px" height="16px">
             <img src="img/icon/pan.png" width="16px" height="16px">
             <img src="img/icon/pan_gray.png" width="16px" height="16px">        
                                  
             <li style="margin:0;padding:0;margin-left:170px;">
                <ul style="margin:0;padding:0;">
                  <img src="img/icon/keshiki.png" width="24px" height="24px">
                  <img src="img/icon/fuyu.png" width="24px" height="24px">
                  <img src="img/icon/rekishi.png" width="24px" height="24px">     
                  <img src="img/icon/chikei.png" width="24px" height="24px">
                </ul>
             </li>
          </ons-list-item>
          
          <ons-list-item modifier="chevron" ng-click="myNavi.pushPage('views/SlopeDetails.html');">
             <img src="img/icon/mark5.png" height="48px" width="48px" style="padding-right:10px;" />
             <span style="width:115px;">問屋の坂</span>             
             <img src="img/icon/pan.png" width="16px" height="16px">
             <img src="img/icon/pan.png" width="16px" height="16px">
             <img src="img/icon/pan.png" width="16px" height="16px">
             <img src="img/icon/pan.png" width="16px" height="16px">
             <img src="img/icon/pan.png" width="16px" height="16px">        
                                  
             <li style="margin:0;padding:0;margin-left:170px;">
                <ul style="margin:0;padding:0;">
                  <img src="img/icon/keshiki.png" width="24px" height="24px">
                  <img src="img/icon/fuyu.png" width="24px" height="24px">
                  <img src="img/icon/rekishi.png" width="24px" height="24px">
                  <img src="img/icon/chikei.png" width="24px" height="24px">
                  <img src="img/icon/mezurashii.png" width="24px" height="24px">
                </ul>
             </li>
          </ons-list-item>  
     </section>
  </div>
</ons-page>