<ons-page ng-controller="SlopeByFatigueCtrl">
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">筋肉疲労度別 坂一覧</div>
    <div class="right">
      <ons-button onclick="CMN.Navi.BackMainMenu();" style="margin-top:-20px;margin-right:15px;"><ons-icon icon="fa-reply-all"></ons-icon></ons-button>
    </div>
  </ons-toolbar>
  <div>
    <p style="margin-left:10px;margin-top:10px;">3パン坂</p>
    <div id="map_canvas" style="width:85%;height:250px;margin-left:auto;margin-right:auto;margin-bottom:20px;"></div>
    
    <section>
        <ons-list>
          <ons-list-header>坂を選んで下さい</ons-list-header>
          <ons-list-item modifier="chevron" ng-click="myNavi.pushPage('views/SlopeDetails.html');">
             <img src="img/icon/mark1.png" height="48px" width="48px" style="padding-right:10px;" />
             <span style="width:200px;">日本一の坂</span>             
             <span>3パン</span>
          </ons-list-item>
          <ons-list-item modifier="chevron" ng-click="myNavi.pushPage('views/SlopeDetails.html');">
             <img src="img/icon/mark2.png" height="48px" width="48px" style="padding-right:10px;" />
             <span style="width:200px;">牛太郎坂</span>             
             <span>4パン</span>
          </ons-list-item>
          <ons-list-item modifier="chevron" ng-click="myNavi.pushPage('views/SlopeDetails.html');">
             <img src="img/icon/mark3.png" height="48px" width="48px" style="padding-right:10px;" />
             <span style="width:200px;">仏坂</span>             
             <span>1パン</span>
          </ons-list-item>
          <ons-list-item modifier="chevron" ng-click="myNavi.pushPage('views/SlopeDetails.html');">
             <img src="img/icon/mark4.png" height="48px" width="48px" style="padding-right:10px;" />
             <span style="width:200px;">幕西の坂</span>             
             <span>1パン</span>
          </ons-list-item>
          <ons-list-item modifier="chevron" ng-click="myNavi.pushPage('views/SlopeDetails.html');">
             <img src="img/icon/mark5.png" height="48px" width="48px" style="padding-right:10px;" />
             <span style="width:200px;">問屋の坂</span>             
             <span>1パン</span>
          </ons-list-item>
        </ons-list>       
     </section>
  </div>
</ons-page>