<ons-page ng-controller="SlopeDetailsCtrl">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
            <!--ng-click="back()"-->
        </div>
        <div class="center">坂道詳細</div>
        <div class="right">
            <ons-toolbar-button onclick="CMN.Navi.BackMainMenu();" style="margin-top:-20px;margin-right:15px;">
                <ons-icon icon="fa-reply-all"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div style="margin-top:10px;margin-bottom:10px;margin-left:10px;">
        <div>{{GetCaption()}}</div>
        <div style="width:100%;text-align:right;vertical-align:middle">
            <ons-button ng-click="complete(slope.SlopeId)">制覇!</ons-button>
            <ons-button ng-click="incomplete(slope.SlopeId)">制覇解除</ons-button>
            
            <ons-button modifier="light" style="padding:0px;margin:0px;border:none;height:40px;" ng-click="twitterPop()">
                <img width="40" height="40" src="img/icon/twitter.png" />
            </ons-button>
            <ons-button modifier="light" style="padding:0px;margin:0px;border:none;height:40px;" ng-click="facebookPop()">
                <img width="40" height="40" src="img/icon/facebook.png" />
            </ons-button>
        </div> 
    </div>  
      <!--<ons-button ng-click="show('list.html')" style="margin-left:10px;">投稿</ons-button>-->
      <!--<ons-button ng-click="show(dialog)" style="margin-left:10px;">投稿</ons-button>
      <ons-dialog var="dialog" cancelable>-->
      <!--
          <ons-button ng-click="twitterPop()" style="margin-left:10px;"><img style="width:28px ; height:28px;" src="img/icon/twitter.png" /></ons-button>
          <ons-button ng-click="facebookPop()" style="margin-left:10px;"><img style="width:28px ; height:28px;" src="img/icon/facebook.png" /></ons-button>
      -->
 

       
      
     <!--
     <div style="margin-left:150px;">
       <ons-button ng-click="">制覇!</ons-button>
       <img ng-click="twitterPop()" style="width:40px ; height:40px;" src="img/icon/twitter.png" />
       <img ng-click="facebookPop()" style="width:40px ; height:40px;" src="img/icon/facebook.png" />
     </div>
     -->
     <!--</ons-dialog>-->

    
    <div style="margin-left:10px;"> 
      <div style="margin-bottom:5px;">
        <span>筋肉疲労度：{{slope.Pan}}パン</span>
        <span ng-repeat="pan in getPanIcon(slope.Pan) track by $index">
          <img width="24"px height="24" src="img/icon/{{pan}}.png" />
        </span>          
      </div>
    
      <div style="margin-bottom:5px;">
        <span ng-repeat="icon in getIcons(slope)">
          <img style="width:28px ; height:28px;" src="img/icon/{{icon}}.png" />
        </span>
      </div>
      
      <div>
        <span ng-if="slope.FileName == ''">
          <img src="img/saka/nophoto.png" style="width:95%;height:200px;margin-left:auto;margin-right:auto;margin-bottom:5px;">    
        </span>  
        <span ng-if="slope.FileName != ''">
          <img src={{GetFilePath()}} style="width:95%;height:200px;margin-left:auto;margin-right:auto;margin-bottom:5px;">    
        </span>  
      </div>
      
      <div>{{slope.Explanation}}</div>

      <div style="border-bottom:0.5px solid grey;margin-top:10px;"></div>
    
      <!-- Twitterハッシュタグ検索 -->
      <div id="tweet-search-timeline"></div>
    </div>
  <!--<ons-template id="list.html">
    <ons-dialog var="dialog" cancelable>
        <ons-list>
          <ons-list-item modifier="tappable">
            <ons-button ng-click="twitterPop()">Twitterで投稿する</ons-button>
          </ons-list-item>
          <ons-list-item modifier="tappable">
            <ons-button ng-click="facebookPop()">Facebookで投稿する</ons-button>
          </ons-list-item>
        </ons-list>
    </ons-dialog>
  </ons-template>-->
</ons-page>