<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">坂道詳細</div>
  </ons-toolbar>
  <div>
    <div>１：○○坂
      <ons-button ng-click="">
        制覇！
      </ons-button>
      <ons-button ng-click="">
        投稿
      </ons-button>
    </div>
    <div>icon</div>
    <div>筋肉疲労度：３パン</div>
    <div>icon</div>
    <img src="img/yakei.png"/>
    <div>コメント<div>
    <div>ツイッターのよくあるやつ出したい。</div>
  </div>
</ons-page>