<ons-page ng-controller="SlopeByFatigueCtrl">
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">筋肉疲労度別 坂一覧</div>
    <div class="right">
      <ons-button onclick="CMN.Navi.BackMainMenu();" style="margin-top:-20px;margin-right:15px;"><ons-icon icon="fa-reply-all"></ons-icon></ons-button>
    </div>
  </ons-toolbar>
  <div>
  　<p style="margin-left:4px;margin-top:4px;">   
    <span ng-repeat="pan in getPanIcon(Pan) track by $index">
        <img height="24px" width="24px" src="img/icon/{{pan}}.png" />
    </span>
    </p>
    <!--
    <p style="margin-left:10px;margin-top:10px;">     
      <span><img src="img/icon/pan.png" height="24px" width="24px"></span>
      <span><img src="img/icon/pan.png" height="24px" width="24px"></span>
      <span><img src="img/icon/pan.png" height="24px" width="24px"></span>
      <span><img src="img/icon/pan_gray.png" height="24px" width="24px"></span>
      <span><img src="img/icon/pan_gray.png" height="24px" width="24px"></span>
    </p>-->
    <!-- 道原追加 -->
    <div id="map_canvas" style="width:100%;height:80%;min-height:480px;"></div>
    <ons-carousel var="slopeList"  centered swipeable auto-scroll 
        auto-scroll-ratio="0.2" ons-postchange="selectChanged($event.activeIndex)">
        <ons-carousel-item ng-repeat="(i,slope) in slopes">
            <table>
                <tr>
                    <td rowspan="2" class="left">
                        <ons-button modifier="quiet" ng-click="slopeList.prev()">
                            <ons-icon icon="md-chevron-left"></ons-icon>
                        </ons-button>
                    </td>
                    <td style="width:99%;" ng-click="linkClick(slope)">
                        <span>
                            {{i+1}} ： {{slope.SlopeName}}
                        </span>
                    </td>
                    <td rowspan="2" class="right">
                        <ons-button modifier="quiet" ng-click="slopeList.next()">
                            <ons-icon icon="md-chevron-right"></ons-icon>
                        </ons-button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span ng-repeat="icon in getIcons(slope)">
                            <img height="28px" width="28px" src="img/icon/{{icon}}.png" />
                        </span>
                    </td>
                </tr>
            </table>
        </ons-carousel-item>
    </ons-carousel>
    <!-- 道原終了 -->
 <!-- 
 <div id="map_canvas" style="width:85%;height:250px;margin-left:auto;margin-right:auto;margin-bottom:20px;"></div>
   
    <section style="width:100%;height:300px;overflow:auto;">
        <ons-list>
            <ons-list-header>坂を選んで下さい</ons-list-header>
            <div ng-repeat="(i, slope) in slopes">
                <ons-list-item modifier="chevron" ng-click="linkClick(slope)">
                <!--<img src="img/icon/mark1.png" height="48px" width="48px" style="padding-right:10px;" />-->
 <!-- 
                <span style="width:220px;">{{i+1}}：{{slope.SlopeName}}</span>
                <span style="width:110px;">
                    <span ng-repeat="icon in getIcons(slope)">
                        <img height="28px" width="28px" src="img/icon/{{icon}}.png" />
                    </span>   
                </span>    
                </ons-list-item>
            </div>
        </ons-list>       
     </section>
    -->
  </div>
</ons-page>