<ons-page>
  <div style="width:100%;height:100%;background-image:url('img/top9.jpg');background-size:100% 100%">
    <div class="table">
      <div class="tr">
        <div style="padding-top:50px;">
          <ons-button modifier="light" ng-click="myNavi.pushPage('views/MainMenu.html')">日本語</ons-button>
        </div>
        <div>
          <ons-button modifier="light" ng-click=""  disabled="true">English</ons-button>
        </div>
      </div>
      <div class="tr">
        <div>
          <ons-button modifier="light" ng-click=""  disabled="true">中文(簡体)</ons-button>
        </div>
        <div>
          <ons-button modifier="light" ng-click=""  disabled="true">한국어</ons-button>
        </div>
      </div>
    </div>
  </div>
</ons-page>

