<ons-page ng-controller="TouristSpotDetailsCtrl">
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">観光地詳細</div>
    <div class="right">
      <ons-button onclick="CMN.Navi.BackMainMenu();">Menu</ons-button>
    </div>
  </ons-toolbar>
  <div>
    <p style="margin-left:10px;margin-top:10px;">{{spot.name.name1.written}}</p>
    
    <div>
     <table>
        <tr>
     		<td style="width:55%">
                <span>{{getShortDesc()}}</span> 
            </td>
            <td style="width:45%"><img src="img/spot/{{spot.mng.refbase}}.jpg" style="width:100%;height;100%;" /></td>
     	</tr>
     </table>
    </div>
    <ons-button style="margin-top:10px;margin-bottom:15px;margin-left:10px;" ng-click="clickReadMoreDesc();">もっと読む</ons-button>
    <div>
      <div style="margin-left:10px;">■近くのおすすめ坂</div>
      
    <ul>
        <li style="vertical-align middle" ng-repeat="(i, s) in slopes track by $index">
            {{i+1}}：
            <a ng-click="linkClick(s)">{{s.SlopeName}}</a>
            <span ng-repeat="icon in getIcons(s)">
                <img style="width:28px ; height:28px;" src="img/icon/{{icon}}.png" />  
            </span>
        </li>
    </ul>
    </div>
    <div id="map_canvas" style="width:85%;height:250px;margin-left:auto;margin-right:auto;margin-bottom:20px;"></div>
  </div>
</ons-page>