<ons-page ng-controller="TouristSpotDetailsCtrl">
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">観光地詳細</div>
    <div class="right">
      <ons-button onclick="CMN.Navi.BackMainMenu();">Menu</ons-button>
    </div>
  </ons-toolbar>
  <div>
    <div>◆室蘭港の夜景</div>
    <div>
      <span>
        コメント
      </span>
      <img src="img/yakei.png" />
    </div>
    <ons-button>もっと読む</ons-button>
    <!-- コメントをポップアップ？ -->
    <div>
      <div>■近くのおすすめ坂</div>
      <ul>
        <li>
          <section>
            <a ng-click="myNavi.pushPage('views/SlopeDetails.html');">
              <span>○○坂：3パン</span>
            </a>
          </section>
        </li>
        <li>
          <section>
            <a ng-click="myNavi.pushPage('views/SlopeDetails.html');">
              <span>○○坂：3パン</span>
            </a>
          </section>
        </li>
        <li>
          <section>
            <a ng-click="myNavi.pushPage('views/SlopeDetails.html');">
              <span>○○坂：3パン</span>
            </a>
          </section>
        </li>
      </ul>
    </div>
    <div id="map_canvas" style="width:85%;height:250px;margin-left:auto;margin-right:auto;margin-bottom:20px;"></div>
  </div>
</ons-page>