<ons-page ng-controller="TouristSpotListCtrl">
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">観光地から探す</div>
  </ons-toolbar>
  <div ng-controller="TouristSpotListCtrl">
      <div ng-repeat="spot in TouristSpotList">
        <section ng-click="linkClick(spot);">
          <div style="padding-top:10px;">
            <ons-button modifier="light" >{{spot.name.name1.written}}</ons-button>
          </div>
          <div style="text-align:center">
            <a href="#"><img src="img/spot/{{spot.mng.refbase}}.jpg" style="width:90%;height:160px;"/></a>          
          </div>
        </section>
      </div>
  </div>
</ons-page>