/**/

a {
    color:rgb(  5,  99, 193);
    text-decoration:underline;
}

div.GMap {
    width:100%;
    height:40%;
}

li { 
    list-style-type: none;   
    margin-bottom:7px;

.table {
    display : table;
}

.tr {
    display : table-row;
}

.tr > div {
    display : table-cell;
}

.td {
    display : table-cell;
}

.ListBox{
    margin: 0 auto;
    width: 100%;
    height: 360px;
    border: 1px solid #CCC;
    border-radius: 10px;
    box-shadow: 1px 1px #ccc inset;
    box-shadow: 1px 1px #ccc;
    overflow:auto;
}